<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us</h1>

<p>We are creating an app to teach people about how to make and run a business </p>

<p>We plan to do this by having the user create a business or develop a plan for a business to bring awarness to finincial literacy and how it is important in our daily lives  </p>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdGRvc3BtbGpqc3BzbzZhM3hwdzNzYnp4emFwdGVrNmVlYTZzcW11cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lln1gKSlV6QheyYQuH/giphy.gif" class="d-block w-100" alt="..." width="400" height="500">
  </div>
  <div class="carousel-item">
    <img src="https://cdn.dribbble.com/users/410417/screenshots/1667568/media/a2f67a1e168812cb2e7d29d04cd9b77a.gif" class="d-block w-100" alt="..."  width="400" height="500" >
  </div>
  <div class="carousel-item">
    <img src="https://cdn.dribbble.com/users/2157206/screenshots/15766238/media/7d89398079eaf8e46d05383ad7a253b2.gif" class="d-block w-100" alt="..." width="400" height="500">
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
{% endblock %}

