{% extends "base.html" %}

{% block body %}
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
        <h1>Make a Business!</h1>

        <div class="text-center">

        
        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.buissness_name.label }} <br>
                {{ form.buissness_name(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.buissness_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.buissness_product.label }} <br>
                {{ form.buissness_product(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.buissness_product.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.date.label }} <br>
                {{ form.date(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.location.label }} <br>
                {{ form.location(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>
                {{ form.favorites.label }} <br>
                {{ form.favorites(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.favorites.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">






<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


                {{form.submit()}}
            </p>
        </form>
    </div>
       
{% endblock %}