<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">


<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p> My research topic was What are the best ways to increase Finincial literacy amoung teens to lower poverty?
            .</p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center">What I've learned about My Topic
        </h1>
        <p>Financial literacy is the ability to understand and effectively use various financial skills, including personal financial management, budgeting, and investing.
        </p>
       <p> I have learned that my topic is way more than financial literacy but multiple factors can contribute to poverty such as poor education, lack of good jobs, lack of government support and later things that could affect you financially is debt or lack of knowledge about financial literacy 
        </p>
        <p>

        </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center">Why Does This Matter?</h1>
        <p>Financial literacy is important because you could develop many skills that you would need to have when you are an adult and you wouldnt have to teach yourself
             </p>
        <p>
            Financial literacy matters because where you go to school can affect how good of an education you can get or were you live were your already at a disadvantage were financial literacy can help you combat that
        </p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

        
</div>

                


 



{% endblock %}